---
layout: default
title: archive
permalink: /archive/
---

<h2 class="page-heading">Archive</h2>
<h3>Most recent posts</h3>
{%for post in site.posts %}
{% unless post.next %}
	{% capture cyear %}{{ site.time | date: '%y' }}{% endcapture %}
	{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
	{% if cyear != year %}
		<h3>{{ post.date | date: '%Y' }}</h3>
	{% endif %}
{% else %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nyear %}
	<h3>{{ post.date | date: '%Y' }}</h3>
	<ul class="past">
  {% endif %}
{% endunless %}
	<time>{{ post.date | date:"%d %b " }}</time> - <a href="{{ post.url }}">{{ post.title }}</a>
{% endfor %}
