<div class="share-page">
<table>
<tr>
<td>
<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" title="Share on Facebook">
	<img alt="Facebook" src="http://www.shobhit.info/assets/img/fb-thumb.png" height="28" width="28">
</a>
</td>
<td>
<a href="http://www.linkedin.com/shareArticle?mini=true
	&url={{ site.url }}{{ page.url }}
    &title={{ page.title }}
    &source={{ site.title }}" target="_blank" title="Share on Linkedin">
	<img alt="Linkedin" src="http://www.shobhit.info/assets/img/linkedin.png" height="28" width="28">
</a>
</td>
<td>
<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Google+">
	<img alt="Google+" src="http://www.shobhit.info/assets/img/google_plus.png" height="28" width="28">
</a>
</td>
<td>
<a href="https://twitter.com/share?
	text={{ page.title }}
	&url={{ page.shorturl }}
	&via=shobhit_arora" target="_blank" title="Share on Twitter">
	<img alt="Twitter" src="http://www.shobhit.info/assets/img/Twitter_Logo_Blue.png " height="38" width="38">
</a>
</td>
</tr>
</table>
</div>
